<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">The Brick Channel</h3>
</div>

<div class="jumbotron">
  <h2>Everything is Awesome!!!</h2>
  <p class="lead">
    <img src="images/TheBrickChannel.jpg" alt="I'm Elijah's Lego Channel" width=400>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#video">My YouTube Channel</a></p>
</div>

<div class="row marketing">
</div>

<div class="footer">
  <p>:] from Elijah Urbaitel @copyright 2014</p>
</div>
